#select select {
    appearance: none;
    -moz-appearance: none;
    /* -webkit-appearance: none; */
    -webkit-appearance: button;
    background: url(../images/icon_list2.png) no-repeat 170px -3px;
    width: 210px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    border: 1px solid #98d1ef;
    margin-right: 20px;
    cursor: pointer;
    padding-left: 10px;
}

.left-line {
    width: 8px;
    height: 30px;
    background-color: #0085ca;
    position: absolute;
    top: 12px;
    left: 0;
}


/*添加新项目*/

.brand_news {
    position: relative;
    width: 97%;
    height: auto;
}

#page_views {
    width: 100%;
    /*height: auto;*/
    height: 770px;
    line-height: 32px;
    position: relative;
    bottom: 20px;
    left: 0.8%;
}

.addsearch {
    position: relative;
    margin: 0 30px 30px;
}

.addtask {
    width: 130px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #98d1ef;
    background: #fff;
    display: block;
    color: #0085ca;
    position: relative;
    top: 35px;
    cursor: pointer;
}

.addtask img {
    margin-top: -5px;
}

.addtask img,
.addtask span {
    padding-left: 8px;
}

.addpro {
    width: 25px;
    height: 25px;
    margin-left: -19px;
    border: none;
    margin-top: -3px;
}

.search {
    width: 280px;
    height: 30px;
    border: 1px solid #98d1ef;
    font-size: 14px;
    position: relative;
    left: 832px;
    top: 5px;
    padding-left: 10px;
    background-color: #fff;
}

.search:focus {
    border: 1px solid #98d1ef;
}

.serimg {
    width: 17px;
    height: 18px;
    position: relative;
    left: 800px;
    top: 5px;
}

#proinfo {
    width: 98%;
    margin-top: -13px;
    margin-left: 27px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #98d1ef;
    color: #374246;
}

#proinfo thead {
    height: 40px;
    line-height: 40px;
    background-color: #0085ca;
    color: #fff;
    text-align: center;
}

.protr td {
    border-right: 1px solid #98d1ef;
    ;
}

#proinfo thead th:nth-of-type(1) {
    background-color: #d8f7ff;
}

#proinfo tbody tr td {
    font-size: 14px;
    border: 1px solid #98d1ef;
    color: #374246;
}

#proinfo tbody tr {
    height: 38px;
    line-height: 38px;
}

.active {
    color: #fff;
    width: 70%;
    background: -webkit-linear-gradient(left, #94dced, #2dbadb);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #94dced, #2dbadb);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #94dced, #2dbadb);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(right, #94dced, #2dbadb);
}

.protd td:first-child {
    text-align: left;
    font-size: 14px;
    letter-spacing: 1.5px;
    padding-left: 10px;
    cursor: pointer;
}

.protd td:last-child {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.protd td:nth-child(2),
.protd td:nth-child(3),
.protd td:nth-child(4) {
    font-size: 14px;
    letter-spacing: 1.5px;
    text-align: center;
}

.protd td:nth-child(5) {
    font-size: 14px;
    letter-spacing: 1.5px;
    padding-right: 10px;
    text-align: right;
}

#proinfo img {
    width: 30px;
    height: 30px;
    position: relative;
    left: 8px;
    border: none;
}

.prosee {
    position: relative;
    top: 2px;
}

.proimg {
    position: relative;
    top: 2px;
}

.proedit {
    position: relative;
    top: 2px;
}

.tdinput {
    width: 500px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #5CA8E3;
    text-align: left;
    border: none;
    letter-spacing: 1.5px;
}

.ready {
    /*content: '√';*/
    display: inline-block;
    width: 20px;
    height: 30px;
}

.trtip {
    font-size: 15px;
    position: relative;
    left: 45%;
    margin-top: 10%;
}


/*分页插件*/

.page_div {
    font-size: 15px;
    color: #666;
    padding-left: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 1%;
    margin-left: 30%;
}

.page_div a {
    min-width: 30px;
    height: 28px;
    border: 1px solid #dce0e0;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
    line-height: 28px;
    color: #666666;
    font-size: 13px;
    display: inline-block;
}

#firstPage,
#lastPage {
    width: 50px;
    color: #0085ca;
    border: 1px solid #0085ca;
    cursor: pointer;
    height: 28px;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
    line-height: 28px;
    color: #666666;
    font-size: 13px;
    display: inline-block;
}

#prePage,
#nextPage {
    width: 70px;
    color: #0085ca;
    border: 1px solid #0085ca;
    cursor: pointer;
    height: 28px;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
    line-height: 28px;
    color: #666666;
    font-size: 13px;
    display: inline-block;
}

.page_div .current {
    background-color: #0085ca;
    border-color: #98d1ef;
    color: #FFFFFF;
}

.totalPages {
    margin: 0 10px;
}

.totalPages span,
.totalSize span {
    color: #0085ca;
    margin: 0 5px;
}


/*浏览器兼容*/

input::-webkit-input-placeholder {
    color: #0085ca;
}


/*火狐浏览器记得设置opacity的值*/

input:-moz-placeholder {
    color: #0085ca;
    opacity: 1;
}

input::-moz-placeholder {
    color: #0085ca;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #0085ca;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #0085ca inset;
}